body{
    background-color: black;
}
.fa-users{
    color: rgb(41, 123, 216);
}
/* Animations */
.notify{
    animation: slideOut 0.7s ease-in-out 3s both;
    margin: 10px;
}
  
  @keyframes slideOut {
    from {
        margin-top: 10px;
        opacity: 1.0;
        visibility: visible;
    }
    
    to {
        margin-top: 20px;
        opacity: 0.0;
        visibility: hidden;
      }
  }